@use 'variables' as var;

body {
  margin: 0;
  background-color: var.$background;
  color: var.$text-primary;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.nexora-card {
  background: var.$surface;
  border-radius: var.$radius-lg;
  border: 1px solid var.$border;
  padding: 1.5rem;
  transition: var.$transition;

  &:hover {
    border-color: var.$primary;
  }
}

// Configuração dos ícones Lucide
lucide-icon, i[data-lucide] {
  width: 24px;
  height: 24px;
  stroke-width: 2px;
  display: inline-block;
  vertical-align: middle;
  color: var.$text-secondary;
  transition: var.$transition;
}

.active {
  lucide-icon, i[data-lucide] {
    color: var.$primary;
    filter: drop-shadow(0 0 5px rgba(108, 78, 255, 0.4));
  }
}